@import "../chameleon/styles.css";
@import "../chameleon-blue/styles.css";
@import "../pureCrudTheme/styles.css";

.p-main-window {
    background: #d3d3d3 url(img/background.gif);
}

.p-entity-form-window {
    background: #d3d3d3;
}

.p-entity-select-window {
    background: #ecffec;
}

.p-entry-point {
    background: #ecffec;
}

.v-window, .v-popupview-popup {
    border-color: black !important;
}

.p-form-component {
    background: #ecffec;
}

.p-search-form {
    background: #f9f9f9;
    border-color: #a9a9a9
}

.p-results-component {
    background: #ecffec;
}

.v-tabsheet-tabitem-selected {
    border-color: #ecffec !important;
}

.v-tabsheet-content {
    border: none !important;
    background-color: #ecffec !important;
}

.v-tabsheet-tabitem {
    background-color: green !important;
}

.v-tabsheet-tabitemcell {
    background-color: transparent !important;
}

.v-tabsheet-tabitem {
    border-left: 1px solid #ecffec !important;
    border-bottom: none !important;
}

.v-tabsheet-tabitemcell-first .v-tabsheet-tabitem {
    border-left: none !important;
}

.v-tabsheet-tabitem-selected {
    background-color: #ecffec !important;
    color: black !important;
}

.v-tabsheet-tabitem .v-caption {
    background: transparent url(img/grad-light-top.png) repeat-x;
    border: none;
    margin: 0;
}

.p-entity-form .v-form fieldset {
    border: none !important;
}

.v-window-outerheader {
    /*background: #403f3f;*/
    background: #787878;
}

.v-window-header {
    color: white !important;
    text-shadow: none !important;
}

.v-form-errormessage {
    padding-left: 2em;
    color: red;
}

